/**
 * --------------------------------------------
 * Author: Heshan Dinuka Lakmal
 * GitHub: https://github.com/Dinuka0512
 * --------------------------------------------
 * Created: 3/8/2025$ 8:53 AM$
 * Project: untitled$
 * --------------------------------------------
 **/

#aboutMe{
    width: 95vw;
    height: fit-content;
    align-items: center;
    /*background-color: yellow;*/
    position: absolute;
    left: 0;
    right: 0;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}



.content>ul>li>span{
    color: lightgray;
}

.content>ul>li{
    margin-bottom: 10px;
}

.about-body{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.about{
    width: 45vw;
    height: 70vh;
    /*background-color: red;*/
    position: relative;
}

#image{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto 15px auto;
}

#downloadBtn{
    width: fit-content;
    height: fit-content;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    margin-top: 20px;
}

#Container{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0;
    left: 0;
    margin: 20px;
}

#itemContainer{
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#itemContainer>div{
    width: fit-content;
    aspect-ratio: 1/1;
    margin-left: 6px;
    padding-top: 3px;
    /*background-color: black;*/
    /*border: white solid 1px;*/
}

#btn-icon-Container{
    display: flex;
    justify-content: space-between;
}

.image{
    font-size: 25px;

}
