/**
 * --------------------------------------------
 * Author: Heshan Dinuka Lakmal
 * GitHub: https://github.com/Dinuka0512
 * --------------------------------------------
 * Created: 3/8/2025$ 8:46 AM$
 * Project: untitled$
 * --------------------------------------------
 **/

#BgImage01{
    width: 100vw;
    height: fit-content;
    position: relative;
}