/**
 * --------------------------------------------
 * Author: Heshan Dinuka Lakmal
 * GitHub: https://github.com/Dinuka0512
 * --------------------------------------------
 * Created: 3/20/2025$ 7:02 AM$
 * Project: untitled$
 * --------------------------------------------
 **/

#MyEdu{
    margin-top: 60px;
    width: 100vw;
    height: fit-content;
    background-color:  rgba(128, 128, 128, 0.2);;
}

#MyEdu>.title{
    padding-top: 50px;
    padding-left: 40px;
    margin-left: 30px;
}

#MyEdu>.title>.squre{
    margin-left: 30px;
}

#EduBody{
    display: flex;
    justify-content: center;
}

#cardContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}