/**
 * --------------------------------------------
 * Author: Heshan Dinuka Lakmal
 * GitHub: https://github.com/Dinuka0512
 * --------------------------------------------
 * Created: 3/12/2025$ 9:12 AM$
 * Project: untitled$
 * --------------------------------------------
 **/

.title{
    height: fit-content;
    width: fit-content;
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
}

.squre{
    width: 8px;
    height: 55px;
    position: absolute;
    background-color: white;
    left: 0;
    border-radius: 2px;
}

.title>p, .title>h1{
    margin: 0 0 0 13px;
}